@{
    ViewData["Title"] = "Configure Printable Cheat Sheet";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
    <li class="breadcrumb-item active">STARTER PAGE</li>
</ul>

<h1 class="page-header">
    Configure Print
</h1>

<ul>
    <li><a asp-controller="SinglePositionSourcePrint" asp-action="SinglePositionPrint" asp-area="FantasyFootball">SinglePositionSource SinglePositionPrint</a> </li>
    <li><a asp-controller="SinglePositionSourcePrint" asp-action="MultiPositionPrintWithRoster" asp-area="FantasyFootball">SinglePositionSource MultiPositionPrintWithRoster</a> </li>
    <li><a asp-controller="SinglePositionSourcePrint" asp-action="MultiPositionPrintWithoutRoster" asp-area="FantasyFootball">SinglePositionSource MultiPositionPrintWithoutRoster</a> </li>

    <li><a asp-controller="MultiPositionSourcePrint" asp-action="MultiPositionPrintWithRoster" asp-area="FantasyFootball">MultiPositionSheet MultiPositionPrintWithRoster</a> </li>
</ul>