@{
    ViewData["Title"] = "ADP";
    ViewData["PageName"] = "rankings_adp";
    ViewData["Category1"] = "Rankings";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Player ADP <span class='fw-300'></span>";
}