@{
    ViewData["Title"] = "Busts";
    ViewData["PageName"] = "rankings_busts";
    ViewData["Category1"] = "Rankings";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Sleeper <span class='fw-300'>Busts</span>";
}