@{
    ViewData["Title"] = "Defenses";
    ViewData["PageName"] = "rankings_defense";
    ViewData["Category1"] = "Rankings";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Defense <span class='fw-300'>Rankings</span>";
}
