@{
    ViewData["Title"] = "Kickers";
    ViewData["PageName"] = "rankings_kicker";
    ViewData["Category1"] = "Rankings";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Kicker <span class='fw-300'>Rankings</span>";
}
