@{
    ViewData["Title"] = "Running Backs";
    ViewData["PageName"] = "rankings_runningback";
    ViewData["Category1"] = "Rankings";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Running Back <span class='fw-300'>Rankings</span>";
}