@{
    ViewData["Title"] = "Sleepers";
    ViewData["PageName"] = "rankings_sleepers";
    ViewData["Category1"] = "Rankings";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Sleeper <span class='fw-300'>Rankings</span>";
}