@{
    ViewData["Title"] = "Tight Ends";
    ViewData["PageName"] = "rankings_tightend";
    ViewData["Category1"] = "Rankings";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Tight End <span class='fw-300'>Rankings</span>";
}
