@{
    ViewData["Title"] = "Wide Receivers";
    ViewData["PageName"] = "rankings_widereceiver";
    ViewData["Category1"] = "Rankings";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Wide Receiver <span class='fw-300'>Rankings</span>";
}
