<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->


<!--Connection Strings-->
	<connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=localhost;Initial Catalog=CSWR;User ID=cheatsheetw;Password=inhoc1inhoc1;" providerName="System.Data.SqlClient"/>
    <!--<add name="LocalForumSqlServer" connectionString="Data Source=localhost;Initial Catalog=CSWR_Forum;User ID=cheatsheetw;Password=inhoc1inhoc1;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="LocalBlogSqlServer" connectionString="Data Source=localhost;Initial Catalog=CSWR_Blog;User ID=cheatsheetw;Password=inhoc1inhoc1;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
