<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
--> 


<!--Connection Strings-->
<connectionStrings>
	<remove name="LocalSqlServer"/>

  <add name="LocalSqlServer" connectionString="Data Source=DESKTOP-BTE9R3P\SQLEXPRESS;Integrated Security=True;Max Pool Size=1000;Initial Catalog=CSWR_2-39_04-20-20" providerName="System.Data.SqlClient"/>
  <add name="LocalForumSqlServer" connectionString="Data Source=DESKTOP-BTE9R3P\SQLEXPRESS;Integrated Security=True;Initial Catalog=CSWR_2-28_Forum_postlaunch;User ID=CommunityUser;Password=NewOrlean$.1976;" providerName="System.Data.SqlClient"/>
  <add name="LocalBlogSqlServer" connectionString="Data Source=DESKTOP-BTE9R3P\SQLEXPRESS;Integrated Security=True;Initial Catalog=CSWR_2-28_Blog_postlaunch;User ID=CommunityUser;Password=NewOrlean$.1976;" providerName="System.Data.SqlClient"/>


  <!--<add name="2014PlayerTeams" connectionString="Data Source=.\SQLEXPRESS2012;Integrated Security=True;Max Pool Size=1000;Initial Catalog=CSWR_2-27_2-16-15" providerName="System.Data.SqlClient"/>-->
</connectionStrings>
