@{
    ViewData["Title"] = "Custom Fantasy Football Cheat Sheet Rankings";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
    <li class="breadcrumb-item active">STARTER PAGE</li>
</ul>

<h1 class="page-header">
    Custom Cheat Sheet
</h1>

<p>
  <ul>
    <li><a asp-controller="CheatSheet" asp-action="Edit" asp-area="FantasyFootball">Edit Sheet</a> </li>
    <li><a asp-controller="CheatSheet" asp-action="Validate" asp-area="FantasyFootball">Validate Sheet</a></li>
    <li></li>
  </ul>
</p>