@{
    ViewData["Title"] = "Fantasy Football Sleepers";
}

@*<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
    <li class="breadcrumb-item active">STARTER PAGE</li>
</ul>*@

<h1 class="page-header">
    Fantasy Football Sleepers
</h1>

<p>
    Start build your page here
</p>