@model int
@{
    ViewData["Title"] = "Edit";
    ViewData["PageName"] = "cheatsheet_custom";
    ViewData["Category1"] = "Cheat Sheet";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i><span class='fw-300'>Edit Custom Sheet</span>";
}

<h1>Edit</h1>

ID: @Model