@model int
@{
    ViewData["Title"] = "Validate";
    ViewData["PageName"] = "cheatsheet_custom";
    ViewData["Category1"] = "Custom Sheet";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i><span class='fw-300'>Validate Custom Sheet</span>";
}
<h1>Validate</h1>

ID: @Model