@{
    ViewData["Title"] = "Printable Cheat Sheets";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
    <li class="breadcrumb-item active">STARTER PAGE</li>
</ul>

<h1 class="page-header">
    Printable Cheat Sheets
</h1>

<p>
    <ul>
        <li>
            <a asp-area="fantasyfootball" asp-controller="PrintPosition" asp-action="Positional" asp-route-positioncode="qb" target="_blank">Print Quarterbacks Sheet</a>        
        </li>
        <li>
            <a asp-area="fantasyfootball" asp-controller="PrintPosition" asp-action="Positional" asp-route-positioncode="rb" target="_blank">Print Running Backs Sheet</a>
        </li>
        <li>
            <a asp-area="fantasyfootball" asp-controller="PrintPosition" asp-action="Positional" asp-route-positioncode="wr" target="_blank">Print Wide Receivers Sheet</a>
        </li>
        <li>
            <a asp-area="fantasyfootball" asp-controller="PrintPosition" asp-action="Positional" asp-route-positioncode="te" target="_blank">Print Tight Ends Sheet</a>
        </li>
        <li>
            <a asp-area="fantasyfootball" asp-controller="PrintPosition" asp-action="Positional" asp-route-positioncode="k" target="_blank">Print Kickers Sheet</a>
        </li>
        <li>
            <a asp-area="fantasyfootball" asp-controller="PrintPosition" asp-action="Positional" asp-route-positioncode="df" target="_blank">Print Defense ST Sheet</a>
        </li>
    </ul>
</p>