<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <target name="db" xsi:type="Database" commandType="StoredProcedure" commandText="log_insert">
            <connectionString>${gdc:item=connectionString}</connectionString>
            <parameter name="@level" layout="${level}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@callsite" layout="${callsite}:${callsite-linenumber}" />
            <parameter name="@exception_type" layout="${exception:format=type}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@stack_trace" layout="${exception:format=stackTrace}" />
            <parameter name="@inner_exception" layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
            <parameter name="@additional_info" layout="${aspnet-request-referrer}" />
            <parameter name="@authenticated_as" layout="${aspnet-user-identity}" />
            <parameter name="@impersonating" layout="${event-properties:item=impersonating}" />
            <parameter name="@session_id" layout="" />
            <parameter name="@machine_name" layout="${machinename}" />
        </target>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <logger name="Cswr.*" minlevel="Info" writeTo="db" final="true" />
        <logger name="Microsoft.Hosting.Lifetime.*" minlevel="Info" writeTo="db" final="true" />
        <logger name="Microsoft.*" minlevel="Warn" writeTo="db" final="true" />
        <logger name="*" minlevel="Warn" writeTo="db" final="true" />
    </rules>
</nlog>