@{
    ViewData["Title"] = "Defenses Sheet";
    ViewData["PageName"] = "printable_defenses";
    ViewData["Category1"] = "Printable";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Printable Defenses <span class='fw-300'> Cheat Sheet</span>";
}
