@{
    ViewData["Title"] = "Fake";
    ViewData["PageName"] = "printable_fake";
    ViewData["Category1"] = "Printable";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Fake <span class='fw-300'> Fantasy Football Cheat Sheet</span>";
}