@{
    ViewData["Title"] = "Printable";
    ViewData["PageName"] = "printable_index";
    ViewData["Category1"] = "Printable";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Printable <span class='fw-300'> Fantasy Football Cheat Sheet</span>";
}