@{
    ViewData["Title"] = "Kickers Sheet";
    ViewData["PageName"] = "printable_kickers";
    ViewData["Category1"] = "Printable";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Printable Kickers <span class='fw-300'> Cheat Sheet</span>";
}
