@{
    ViewData["Title"] = "Tight Ends Sheet";
    ViewData["PageName"] = "printable_tightends";
    ViewData["Category1"] = "Printable";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i> Printable Tight Ends <span class='fw-300'> Cheat Sheet</span>";
}
