@{
    ViewData["Title"] = "Rankings - All Players";
}

@*<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">RANKINGS</a></li>
    <li class="breadcrumb-item active">ALL PLAYERS</li>
</ul>*@

<h1 class="page-header">
    Rankings for All Players <small>page header description goes here...</small>
</h1>

<p>
    Start build your page here
</p>