@{
    ViewData["Title"] = "Printable Cheat Sheet for a Single-Position Sheet - By Position";
}

<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">LAYOUT</a></li>
    <li class="breadcrumb-item active">STARTER PAGE</li>
</ul>

<h1 class="page-header">
    Single Position Source - Single Position Print
</h1>

<p>
    Start build your page here
</p>