@model int
@{
    ViewData["Title"] = "Custom Sheet";
    ViewData["PageName"] = "cheatsheet_custom";
    ViewData["Category1"] = "Cheat Sheets";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i><span class='fw-300'>Custom Fantasy Football Cheat Sheet</span>";
}

<h1>Custom</h1>

ID: @Model