@{
    ViewData["Title"] = "Configure Print";
    ViewData["PageName"] = "cheatsheets_configureprint";
    ViewData["Category1"] = "Cheat Sheets";
    ViewData["Heading"] = "<i class='subheader-icon fal fa-chart-area'></i><span class='fw-300'>Configurable Print Sheet</span>";
}

<h1>Configure Print</h1>

